@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #0026ff, #6f00ff);
    text-align: justify;
    margin: 0px;
}

header {
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    

    
}

main {
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: black;
    color: white;
    margin: 0px;
    text-align: center;
}

#principal {
    text-align: center;
}

main > p {
    text-align: center;
}

section > p {
    text-align: center;
}

section > .preco {
    width: 55px;
    color: white;
    background-color: rgb(190, 76, 152);
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
}